.row {
    display: flex;
    justify-content: center;
    align-items: start;
}
.row > * {
    flex: 1;
}

.row .center,
.row .center > * {
    align-items: center;
    border: 1px solid red;
}
.row_between {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Tablas */
td, th {
    border: 1px solid black;
}